*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img{
    width: 20%;
    display: inline-block;
}

header{
    
    height: 5%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

main > span#select{
    display: block;
    margin-bottom: 20px;
    
    height: 35%;
}

main > span#select h1{
    font-size: 1.8em;
}

main > span#select p{
    font-size: 1.3em;
}

main > span#select > input{

    margin: 10px;
}


main > span#total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgb(131, 131, 255);
    width: 100%;
    height: 50%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.4em;
}

main > span#total > div#lista > ul{
    list-style-type: none;
}


main > span#final > form input[type="submit"]{
    border: none;
    width: 95%;
    background-color: rgb(107, 107, 253);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;

    color: #ffff;

    font-size: 1.3em;
}

main > span#final > form input[type="submit"]:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    transition: .5s ease-in;
}

footer{  
    height: 10%;
}