<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Impressão de imagem</h1>a
    <p>Selecione o arquivo</p>
    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="arq" id="arq" accept="image/*">
        <input type="submit" value="Enviar">
    </form>

    <script src="../static/script.js"></script>
</body>
</html>